.slider-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  margin: 0 auto;
  
}

.image2 {
  display: none;
  width: 100%;
  height: auto;
}

.image2.active {
  display: block;
}

button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  z-index: 1;
}

button:focus {
  outline: none;
}
