.slider-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
}

.carousel {
  display: flex;
  transition: transform 2s ease-in-out;
}

.carousel-item {
  flex: 0 0 100%;
  width: 100%;
}

.set-image {
  margin: 10px; /* top right bottom left */
  border-radius: 10px; /* Rounded corners */
}

.prev-btn,
.next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
}

.prev-btn {
  left: 0;
}

.next-btn {
  right: 0;
}
